<html>
    <head></head>
    <body>
        <h1>TUTORIALES QUE TIENEN UNA CATEGORIA EN CONCRETO:</h1>
        <p>---------------------------------------------------------------------------------</p>
        {% for tutorial in tutoriales_mostrar %}
        <div>
            <h2>Titulo: {{ tutorial.titulo }}</h2>
            <h2>Contenido: {{ tutorial.contenido }}</h2>
            <h2>Fecha de creacion: {{ tutorial.fecha_Creacion }}</h2>
            <h2>Visitas: {{ tutorial.visitas }}</h2>
            <h2>Valoracion: {{ tutorial.valoracion }}</h2>
            <h2>Usuarios: {{ tutorial.usuario.nombre }}</h2>
            <br>
            <h2>Categoria:</h2>
            <ul>
                {% for categoria in tutorial.categoria_del_tutorial.all%}
                    <li><h3>Categoria: {{categoria.nombre}}</h3></li>
                {%endfor%}
            </ul>
            <h2>Etiqetas:</h2>
            <ul>
                {% for etiqueta in tutorial.Etiquetas_del_tutorial.all%}
                    <li><h3>Etiqueta: {{etiqueta.nombre}}</h3></li>
                {%endfor%}
            </ul>
        </div>
        <p>---------------------------------------------------------------------------------</p>
        <br>
        {% endfor %}
    </body>
</html>