{% extends "Padre.html" %}

{% block cabecera %}
<h1 class="text-center text-primary my-4">Búsqueda Avanzada de Tutoriales</h1>
<p class="text-center text-secondary">Filtros de búsqueda</p>
{% endblock %}

{% block contenido %}
<div class="card shadow p-4">
    <h2 class="text-secondary mb-4">Filtros de búsqueda</h2>
    <form method="GET" class="mb-4">
        {% csrf_token %}
        
        {{ formulario.titulo.label_tag }}
        {{ formulario.titulo }}
        {% for error in formulario.titulo.errors %}
            <div class="text-danger"><small>{{ error }}</small></div>
        {% endfor %}

        {{ formulario.contenido.label_tag }}
        {{ formulario.contenido }}
        {% for error in formulario.contenido.errors %}
            <div class="text-danger"><small>{{ error }}</small></div>
        {% endfor %}

        {{ formulario.fecha_Creacion.label_tag }}
        {{ formulario.fecha_Creacion }}
        {% for error in formulario.fecha_Creacion.errors %}
            <div class="text-danger"><small>{{ error }}</small></div>
        {% endfor %}

        {{ formulario.visitas.label_tag }}
        {{ formulario.visitas }}
        {% for error in formulario.visitas.errors %}
            <div class="text-danger"><small>{{ error }}</small></div>
        {% endfor %}

        {{ formulario.valoracion.label_tag }}
        {{ formulario.valoracion }}
        {% for error in formulario.valoracion.errors %}
            <div class="text-danger"><small>{{ error }}</small></div>
        {% endfor %}

        {{ formulario.usuario.label_tag }}
        {{ formulario.usuario }}
        {% for error in formulario.usuario.errors %}
            <div class="text-danger"><small>{{ error }}</small></div>
        {% endfor %}

        <button type="submit" class="btn btn-primary w-100">Buscar</button>
    </form>
</div>

<hr>

<h2 class="text-center text-secondary my-4">Resultados de búsqueda</h2>

<div class="row">
    {% if tutoriales %}
        {% for tutorial in tutoriales %}
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">{{ tutorial.titulo }}</h5>
                    <p class="card-text">
                        <strong>Contenido:</strong> {{ tutorial.contenido|truncatewords:10 }}<br>
                        <strong>Fecha de creacion:</strong> {{ tutorial.fecha_Creacion|date:"d \d\e F \d\e Y" }}<br>
                        <strong>Valoraciones:</strong> {{ tutorial.valoracion }}
                        <strong>Visitas:</strong> {{ tutorial.visitas }}<br>
                    </p>
                </div>
                <div class="card-footer text-center">
                    {% load bootstrap_icons %}
                    <div class="row btn-group">
                        <div class="mb-2">
                            {% if perms.tutorial.change_tutorial %}
                                <button type="button" 
                                        class="btn btn-outline-primary"> 
                                        <a href="{% url 'tutorial_modificar' tutorial.id %}" ><span>{% bs_icon 'pencil' %}</span></a>
                                </button>
                            {% endif %}
                        </div>
                        <div class="mb-2">
                            {% if perms.tutorial.delete_tutorial %}
                                <form action="{% url 'eliminar_tutorial' tutorial.id %}" method="post">
                                    {% csrf_token %}
                                    <button class="btn btn-danger" onclick="return eliminar();" type="submit">
                                        <span>{% bs_icon 'trash' %}</span>
                                    </button>
                                </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <div class="col-12">
            <p class="text-center text-danger">No se encontraron resultados.</p>
        </div>
    {% endif %}
</div>
{% endblock %}
