{% extends "Padre.html" %}

{% block cabecera %}
<h1 class="text-center text-primary my-4">Búsqueda Avanzada de Subcategorias</h1>
<p class="text-center text-secondary">Filtros de búsqueda</p>
{% endblock %}

{% block contenido %}
<div class="card shadow p-4">
    <h2 class="text-secondary mb-4">Filtros de búsqueda</h2>
    <form method="GET" class="mb-4">
        {{ formulario.nombre.label_tag }}
        {{ formulario.nombre }}
        {% for error in formulario.nombre.errors %}
            <div class="text-danger"><small>{{ error }}</small></div>
        {% endfor %}
    
        {{ formulario.activa.label_tag }}
        {{ formulario.activa }}
        {% for error in formulario.activa.errors %}
            <div class="text-danger"><small>{{ error }}</small></div>
        {% endfor %}
    
        {{ formulario.categoria.label_tag }}
        {{ formulario.categoria }}
        {% for error in formulario.categoria.errors %}
            <div class="text-danger"><small>{{ error }}</small></div>
        {% endfor %}
    
        <button type="submit" class="btn btn-primary w-100">Buscar</button>
    </form>
    
</div>

<hr>

<h2 class="text-center text-secondary my-4">Resultados de búsqueda</h2>

<div class="row">
    {% if subcategorias %}
        {% for subcategoria in subcategorias %}
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">{{ subcategoria.nombre }}</h5>
                    <p class="card-text">
                        <strong>Descripcion:</strong> {{ subcategoria.descripcion|truncatewords:10 }}<br>
                        <strong>Fecha de creacion:</strong> {{ subcategoria.fecha_Creacion|date:"d \d\e F \d\e Y" }}<br>
                        <strong>Activo:</strong> {{ subcategoria.activa }}<br>
                    </p>
                </div>
                <div class="card-footer text-center">
                    <a href="#" class="btn btn-sm btn-primary disabled">Modificar</a>
                    <a href="#" class="btn btn-sm btn-danger disabled">Eliminar</a>
                </div>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <div class="col-12">
            <p class="text-center text-danger">No se encontraron resultados.</p>
        </div>
    {% endif %}
</div>
{% endblock %}
