<html>
    <head></head>
    <body>
        <h1>LINKS DE LAS URLS:</h1>
        <ul>
            <li><a href="{% url 'listar_tutoriales' %}">Tutoriales</a></li>
            <li><a href="{% url 'listar_ususario' %}">Usuarios</a></li>
            <li><a href="{% url 'muestra_certificado_usuario_mismo_id' 1 %}">Certificados de un usuario por id</a></li>
            <li><a href="{% url 'muestra_comentario_equals_palabra' 'item' %}">Comentarios por una palabra en concreto</a></li>
            <li><a href="{% url 'muestra_tutorial_por_etiqueta' 'Glass' %}">Comentarios por una palabra en concreto</a></li>
            <li><a href="{% url 'lista_usuarios_entre_años' 1970 2000 %}">Usuarios nacidos entre dos años en especifico</a></li>
            <li><a href="{% url 'lista_tutorial_por_categoria' 'hola' 'walk' %}">Tutoriales con x categoria</a></li>
            <li><a href="{% url 'total_visitas' %}">Tutoriales con la suma de visitas</a></li>
            <li><a href="{% url 'tutorial_no_tenga_categoria' %}">Tutoriales que no tengan categoria</a></li>
            <li><a href="{% url 'lista_subcategoria' %}">Subcategorias</a></li>
        </ul>
    </body>
</html>